body {
  background: #eee;
}

.content {
  @extend .panel;
  padding: rem-calc(20) rem-calc(40);
  
  h1{
    margin: 0em 0em .5em 0em;
  }
  h2, h3, h4, h5, h6 {
    margin: .5em 0em .5em 0em;
  }
  // Shrink padding for mobile devices
  @media #{$small-only} {
    padding: rem-calc(20);
  }
  // Remove float for mobile devices
  img.right {
    @media #{$small-only} {
      float: none !important;
    }
  }
}

.image_panel {
  @extend .panel;
  padding: rem-calc(10);
  margin: rem-calc(10);

}