$logo-size: 60px;
$home-height: 15px;

.header {
	hr {
		border-top: 2px solid $primary-color;
		border-bottom: 5px solid lighten($primary-color, 10%);
	}
}

a.page_header {
	@extend h3;
	margin: rem-calc(20);
	padding-left: $logo-size + 20px;
	background-image: url('../images/drexel_logo.png');
	background-repeat: no-repeat;
	background-size: $logo-size;
	line-height: 1.2;

	@media #{$small-only} {
		background-size: $logo-size - 20px;
		padding-left: $logo-size;

	}
}

.biomed_button {
	@extend .button;
	@extend .small;
	padding: rem-calc(10);

	a {
		color: #fff
	}

	img {
		margin: 2px 5px;
	}

	background: $drexel_blue;
	&:hover{
		background: lighten($drexel_blue, 15%)
	}
}