$logo-size: 80px;

.header {
	hr {
		border-top: 5px solid #eee;
	}
}

a.page_header {
	@extend h2;
	margin: rem-calc(20);
	padding-left: $logo-size + 20px;
	background-image: url('../images/drexel_logo.png');
	background-repeat: no-repeat;
	background-size: $logo-size;
	line-height: 1.2;

	@media #{$small-only} {
		background-size: $logo-size - 20px;
		padding-left: $logo-size;

	}
}

.biomed_button {
	@extend .button;
	@extend .small;

	@media #{$small-only} {
		padding: $button-tny;
		font-size: $button-font-tny;
	}
}