.nav {
	@extend .panel;
	background: none;
	border: none;
}

ul.side-nav {
	li {
		a:not(.button) {
			color: #222;
			padding: 2px;
			padding-left: 5px;
			border-right: 5px solid #DDD;

			&.current-page {
				border-right: 5px solid $primary-color;
				background: lighten($drexel_blue, 70%);
			}
			@include transition-property(background, border, color);
			@include transition-duration(0.2s);
		}


		// li Hover state
		&:hover {

			a:not(.button) {
				color: #fff;
				border-right: 5px solid $primary-color;
				background-color: $primary-color;
			}
			a:not(.button).current-page {
				border-right: none;
				color: #fff;
			}
		}
	}
}