.nav {
	@extend .panel;
	background: none;
	border: none;
}

ul.side-nav {
	li {
		a {
			color: #222;
			padding: 2px;
			padding-left: 5px;
			border-right: 5px solid #DDD;

			&.current-page {
				border-right: 5px solid $primary-color;
				background: lighten($drexel_blue, 70%);
			}
		}

		@include transition-property(background, border, color);
		@include transition-duration(0.5s);

		// li Hover state
		&:hover {
			background: $primary-color;
			a {
				border-right: 5px solid $primary-color;
				color: #fff;
			}
			a.current-page {
				border-right: none;
				color: #fff;
			}
		}
	}
}