<div class="clearfix">
	<h1>
		<%= link_to 'Ultrasound', './', :class => 'left' %>
	</h1>
	<%= link_to 'Drexel School of Biomedical Engineering, Science and Health Systems', 
				'../', 
				:class => 'right' %>
</div>
<hr>